[Unit]
Description=Chromium Dashboard
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
User=pi
Restart=on-failure
StartLimitIntervalSec=10
RestartSec=30s
ExecStart=bash /usr/src/initWebWhenBoot/starter.sh 

[Install]
WantedBy=multi-user.target
